.circle {
    background: green;
    /* border-radius: 50%; 
    width: 200px;
    height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 35vw;
    margin-top: 10vw;

}

button {
    border: none;
    padding: 7px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    border-radius: 10px;
}








.TrainyMcTrain {
    border-radius: 8px;
    height: 250px;
      

}

.TrainyMcFlex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.TrainyMcName {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
}